.center {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#clock {
     padding: 20px 50px;
     background-color: orange;
     border-radius: 10px;
     font-size: 40px;
     margin-top: 10px;
}
#banner{
    font-size: 40px;
}