#grey {
    padding: 50px 50px;
    margin: 1%;
    border: solid black;
    background-color: grey;
}

#blue {
    padding: 50px 50px;
    margin: 1%;
    border: solid black;
    background-color: blue;
}

#white {
    padding: 50px 50px;
    margin: 1%;
    border: solid black;
    background-color: white;
}

#yellow {
    padding: 50px 50px;
    margin: 1%;
    border: solid black;
    background-color: yellow;
}

a {
    margin: 20px;
    padding: 5px 10px;
    border: 2px solid black;
    background-color: rgb(255, 229, 229);
}